{%- assign logo = settings.logo -%}
{%- assign logo_url = logo | image_url -%}

<a class="logo" href="{{ shop.secure_url }}">
  {%- if logo -%}
    {{ logo | image_url | image_tag }}
    <img src="{{ logo | img_url }}" alt="{{ shop.name }}">
  {%- else -%}
    {{ shop.name }}
  {%- endif -%}
</a>