{%- assign logo = settings.logo -%}

<a class="logo" href="{{ shop.secure_url }}">
  {%- if logo -%}
    {{ logo | image_url | image_tag }}
    <img src="{{ logo | img_url }}" alt="{{ shop.name }}">
  {%- else -%}
    {{ shop.name }}
  {%- endif -%}
</a>