{% liquid 
  assign title = section.settings.title
  assign subtitle = section.settings.subtitle
  assign video_title = section.settings.video_title
  assign video = section.settings.video
%}

<div class="container">
  {% render 'block-heading', title: title, subtitle: subtitle %}
  {{ video }}
  {% render 'external-video', video: video  %}
  {%- if section.settings.video_url.type == 'youtube' -%}
    <iframe src="https://www.youtube.com/embed/{{ video.id }}?enablejsapi=1" class="js-youtube" allow="autoplay; encrypted-media" allowfullscreen title="{{ video_title | escape }}"></iframe>
  {%- else -%}
    <iframe src="https://player.vimeo.com/video/{{ video.id }}" class="js-vimeo" allow="autoplay; encrypted-media" allowfullscreen title="{{ video_title | escape }}"></iframe>
  {%- endif -%}
</div>

{% schema %}
  {
    "name": "t:sections.embed-video.name",
    "tag": "section",
    "class": "block-embed-video",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "t:sections.global.title"
      }, {
        "type": "richtext",
        "id": "subtitle",
        "label": "t:sections.global.subtitle"
      }, {
        "type": "video_url",
        "id": "video",
        "accept": [
          "youtube", "vimeo"
        ],
        "label": "t:sections.global.url"
      }, {
        "type": "text",
        "id": "video_title",
        "label": "t:sections.global.title"
      }
    ],
    "presets": [
      {
        "name": "t:sections.embed-video.name"
      }
    ]
  }
{% endschema %}