{%- liquid
  assign p = product.selected_or_first_available_variant
  assign featured_media = p.featured_media

-%}

<div class="container">
  <div class="row">
    <div class="content">
      <h1>{{ product.title | escape }}</h1>
      {%- render 'price', product: product, use_variant: true, show_badges: true -%}
      {%- if product.description != blank -%}
        <div class="description rte">
          {{ product.description }}
        </div>
      {%- endif -%}
      {%- assign product_form_installment_id = 'product-form-installment-' | append: section.id -%}
      {%- form 'product', product, id: product_form_installment_id -%}
        <input type="hidden" name="id" value="{{ p.id }}">
        {{ form | payment_terms }}

        {%- unless product.has_only_default_variant -%}
          {%- for option in product.options_with_values -%}
            <fieldset class="js product-form__input">
              <legend class="form__label">{{ option.name }}</legend>
              {%- for value in option.values -%}
                <input type="radio" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" name="{{ option.name }}" value="{{ value | escape }}" form="{{ product_form_id }}"
                  {% if option.selected_value == value %}
                  checked
                  {% endif %}>
                <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
                  {{- value -}}
                </label>
              {%- endfor -%}
            </fieldset>
          {%- endfor -%}
        {%- endunless -%}

      {%- endform -%}
    </div>
    <div class="media">
      {%- liquid
        for media in p.media
          if media.media_type == 'image'
            render 'image', img: media
          elsif media.media_type == 'video'
            render 'video', video: media
          endif
        endfor
      -%}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "t:main.product.name",
    "tag": "section"
  }
{% endschema %}