<div class="container">
  <div class="row">
    <div class="content">

      <h1 id="login">{{ 'customer.login_page.title' | t }}</h1>
      <div>
        {%- if recover_success == true -%}
          <h3 class="form__message" tabindex="-1" autofocus>
            {{ 'customer.recover_password.success' | t }}
          </h3>
        {%- endif -%}
        {%- form 'customer_login', novalidate: 'novalidate' -%}
          {%- if form.errors -%}
            <div class="alert alert-danger" role="alert">
              <p class="alert-heading">{{ 'accessibility.error' | t }}</p>
              <p>{{ 'templates.contact.form.error_heading' | t }}</p>
              {{ form.errors | default_errors }}
            </div>

          {%- endif -%}

          <div class="field">
            <label for="CustomerEmail">
              {{ 'customer.login_page.email' | t }}
            </label>
            <input type="email" name="customer[email]" id="CustomerEmail" autocomplete="email" autocorrect="off" autocapitalize="off"
              {% if form.errors contains 'form' %}
              aria-invalid="true"
              {% endif %}
              placeholder="{{ 'customer.login_page.email' | t }}">
          </div>

          {%- if form.password_needed -%}
            <div class="field">
              <label for="CustomerPassword">
                {{ 'customer.login_page.password' | t }}
              </label>
              <input type="password" value="" name="customer[password]" id="CustomerPassword" autocomplete="current-password"
                {% if form.errors contains 'form' %}
                aria-invalid="true"
                {% endif %}
                placeholder="{{ 'customer.login_page.password' | t }}">
            </div>

            <a href="#recover">
              {{ 'customer.login_page.forgot_password' | t }}
            </a>
          {%- endif -%}

          <button>
            {{ 'customer.login_page.sign_in' | t }}
          </button>

          <a href="{{ routes.account_register_url }}">
            {{ 'customer.login_page.create_account' | t }}
          </a>

        {%- endform -%}
      </div>

      {%- if shop.checkout.guest_login -%}
        <div>
          <hr>
          <h2>{{ 'customer.login_page.guest_title' | t }}</h2>
          {%- form 'guest_login' -%}
            <button>{{ 'customer.login_page.guest_continue' | t }}</button>
          {%- endform -%}
        </div>
      {%- endif -%}

      <hr>

      <h2 id="recover">{{ 'customer.recover_password.title' | t }}</h2>
      <div>
        <p>{{ 'customer.recover_password.subtext' | t }}</p>

        {%- form 'recover_customer_password' -%}
          {% assign recover_success = form.posted_successfully? %}

          <div class="field">
            <label for="RecoverEmail">{{ 'customer.login_page.email' | t }}</label>
            <input type="email" value="" name="email" id="RecoverEmail" autocorrect="off" autocapitalize="off" autocomplete="email"
              {% if form.errors %}
              aria-invalid="true"
              aria-describedby="RecoverEmail-email-error"
              autofocus
              {% endif %}
              placeholder="{{ 'customer.login_page.email' | t }}" required>
            {%- if form.errors -%}
              <p id="RecoverEmail-email-error" class="invalid-feedback">
                {{- form.errors.messages['form'] -}}
              </p>
            {%- endif -%}
          </div>

          <button>{{ 'customer.login_page.submit' | t }}</button>
          <a href="#login">{{ 'customer.login_page.cancel' | t }}</a>
        {%- endform -%}
      </div>

    </div>
  </div>
</div>


{% schema %}
  {
    "name": "t:main.login.name",
    "class": "login-register",
    "tag": "section"
  }
{% endschema %}